.starwidget {
  font-size: 0px;
}
.starwidget .deselect-star {
  color: red;
  font-size: 20px;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
  text-decoration: none;
}
.starwidget .deselect-star:hover,
.starwidget .deselect-star:active {
  text-decoration: none;
}
.starwidget input[type="radio"] {
  display: none;
}
.starwidget input[type="radio"] + label {
  font-size: 36px;
}
.starwidget input[type="radio"] + label:before {
  content: "\2606";
  color: #888;
}
.starwidget input[type="radio"]:checked + label:before,
.starwidget input[type="radio"].before-selection + label:before {
  content: "\2605";
  color: #e52;
}
.starwidget-enabled input[type="radio"] + label:hover:before {
  content: "\2605";
  color:  #e52;
  cursor: hand;
}
